	@font-face {
		font-family: Lato-Regular;
		src: url(../../../fonts/lato/Lato-Regular.ttf);
	}
	
	@font-face {
		font-family: Lato-Black;
		src: url(../../../fonts/lato/Lato-Black.ttf);
	}
	
	@font-face {
		font-family: Lato-Light;
		src: url(../../../fonts/lato/Lato-Light.ttf);
	}